[package]
name = "thedes-dev"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = { workspace = true }
tokio = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thedes-domain = { path = "../thedes-domain" }
