name: Thedes CI - Check
on: [pull_request]

jobs:
  check:
    timeout-minutes: 15
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Update rustup
        run: rustup update stable && rustup default stable

      - name: Install ALSA
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev alsa-base alsa-utils

      - name: Check (all features)
        run: cargo check --workspace --all-targets --all-features

      - name: Check (no features)
        run: cargo check --workspace --all-targets --no-default-features

  test:
    timeout-minutes: 15
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Update rustup
        run: rustup update stable && rustup default stable

      - name: Install ALSA
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev alsa-base alsa-utils

      - name: Test (all features)
        run: cargo test --workspace --all-targets --all-features

      - name: Test (no features)
        run: cargo test --workspace --all-targets --no-default-features

  lints:
    timeout-minutes: 15
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Update rustup
        run: rustup update nightly && rustup default nightly

      - name: Install rustfmt
        run: rustup component add rustfmt

      - name: Check formatting
        run: cargo fmt --check
